<%- include('components/head'); -%>

  <body>

    <%- include('components/nav'); -%>

      <div class="container bg-light mt-5 mb-5 pt-5 px-y ">

        <h2>Alert</h2>


        <% if (data.CameraName) { %>
          <p>Camera Name: <%= data.CameraName %>
          </p>
          <% } %>
            <% if (data.timestamp) { %>
              <p>Timestamp: <%= data.timestamp %>
              </p>
              <% } %>
                <% if (data.location) { %>
                  <p>Location: <%= data.location %>
                  </p>
                  <% } %>
                    <% if (data.isSpeeding) { %>
                      <p>isSpeeding: <%= data.isSpeeding %>
                      </p>
                      <% } %>

                        <% if (data.isANPR) { %>
                          <p>isANPR: <%= data.isANPR %>
                          </p>
                          <% } %>

                            <% if (data.isRLVD) { %>
                              <p>isRLVD: <%= data.isRLVD %>
                              </p>
                              <% } %>

                                <% if (data.isTripleRiding) { %>
                                  <p>isTripleRiding: <%= data.isTripleRiding %>
                                  </p>
                                  <% } %>

                                    <% if (data.isNoHelmet) { %>
                                      <p>isNoHelmet: <%= data.isNoHelmet %>
                                      </p>
                                      <% } %>

                                        <% if (data.isWrongWay) { %>
                                          <p>isWrongWay: <%= data.isWrongWay %>
                                          </p>
                                          <% } %>

                                            <% if (data.Speed) { %>
                                              <p>Speed: <%= data.Speed %>
                                              </p>
                                              <% } %>


                                                <% if (data.LPNumber) { %>
                                                  <p>LPNumber: <%= data.LPNumber %>
                                                  </p>
                                                  <% } %>


                                                    <h5>Evidences</h5>
                                                    <% if (data.Snapshotpath) { %>

                                                      <p class="text-center w-100"><img src="<%= data.Snapshotpath %>"
                                                          width="400px" alt="imageNA"></p>
                                                      <% } %>


                                                        <% if (data.LPImagePath) { %>

                                                          <p class="text-center w-100"><img
                                                              src="<%= data.LPImagePath %>" width="400px" alt="imageNA">
                                                          </p>
                                                          <% } %>

                                                            <% if (data.RLVDImagePath) { %>

                                                              <p class="text-center w-100"><img
                                                                  src="<%= data.RLVDImagePath %>" width="400px"
                                                                  alt="imageNA"></p>
                                                              <% } %>

                                                                <% if(data.VideoPath) { %>
                                                                  <p class="w-100 px-5 "></p>
                                                                  <video width="100%" alt="NA" controls autoplay muted>
                                                                    <source src="<%= data.VideoPath %>"
                                                                      type="video/mp4">
                                                                  </video>
                                                                  </p>
                                                                  <% } %>


      </div>


      <%- include('components/scripts'); -%>
  </body>

  </html>