<%- include('components/head'); -%>
  <style>
    /* /////////// */
    .product-img--main {
      position: relative;
      overflow: hidden;
      /* margin-bottom: 30px; */
      /* width: 600px;
  height: 600px; */
      float: left;
      margin: 10px;
    }

    .product-img--main__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-transition: -webkit-transform .5s ease-out;
      transition: -webkit-transform .5s ease-out;
      transition: transform .5s ease-out;
      transition: transform .5s ease-out, -webkit-transform .5s ease-out;
    }

    /* ///////////////// */
  </style>

  <body>

    <%- include('components/nav'); -%>
      <div id="generatebtn">

        <div class="container bg-light mt-4  pt-2 pb-2 ">
          <div class="row">
            <div class="col-md-6">
              <h3>EVENT-DETAILS</h3>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2 ">
              <!-- <% if (data.EventType!='ANPR' ) { %> -->
                <!-- <button type="submit" id="gc" class="btn btn-primary  ">Generate Chalan</button> -->
                <form id="api-form">
                  <div class="form-group">
               
                    <% if (data.EventType!='ANPR' ) { %>
                        <button type="submit" class="btn  btn-primary w-100 searchBtn" value="Submit"> Generate Challan
                        </button>
      
                        <% } %>
                   </div>
      
                </form>
            </div>
            <!-- <% } %> -->

          </div>

          <form id="api-form">
            <div class="form-group">

              <div class="row">

                <div class="col-md-3">
                  <!-- <button type="submit" class="btn  btn-primary w-100 searchBtn" value="Submit"> Generate New1 Challan
                  </button> -->

                </div>
              </div>
             </div>

          </form>
          <hr>
          <div style="overflow-y: scroll; max-height: 70vh;">
            <!-- <button type="button" class="btn btn-primary w-100 ">Generate Chalan</button> -->
            <div class="row">
              <div class="col-md-8">



                <% if (data.CameraName) { %>
                  <p> <b>Camera Name</b> : <%= data.CameraName %>
                  </p>
                  <% } %>
                    <% if (data.timestamp) { %>
                      <p> <b>Timestamp </b>: <%= data.timestamp %>
                      </p>
                      <% } %>
                        <% if (data.EventType) { %>
                          <p><b>Event Type </b>: <%= data.EventType %>
                          </p>
                          <% } %>
                            <% if (data.location) { %>
                              <p><b>Location </b>: <%= data.location %>
                              </p>
                              <% } %>
                                <% if (data.Speed) { %>
                                  <p><b> Speed </b> : <%= data.Speed %>
                                  </p>
                                  <% } %>
                                    <% if (data.LPNumber) { %>
                                      <p> <b>LPNumber</b> : <%= data.LPNumber %>
                                      </p>
                                      <% } %>
                                        <!-- <div class="col-md-3">
                                                    <button type="submit" class="btn  btn-primary w-100 "
                                                      value="Submit">Generate challan
                                                    </button>
                                                  </div> -->
                                        <!-- </div> -->



              </div>

              <div class="col-md-4">
                <h5>License Plate</h5>
                <% if (data.LPImagePath) { %>

                  <p class="product-img--main text-center w-100" data-scale="1.6" data-image="<%= data.LPImagePath %>">
                    <img src="<%= data.LPImagePath %>" width="100%" alt="imageNA">
                  </p>
                  <% } %>
              </div>
              <div class="col-md-6">
                <h5>Snapshot</h5>
                <% if (data.Snapshotpath) { %>

                  <p class="product-img--main text-center w-100" data-scale="1.6" data-image="<%= data.Snapshotpath %>">
                    <img src="<%= data.Snapshotpath %>" width="100%" alt="imageNA"></p>

                  <% } %>

              </div>
              <div class="col-md-6">

                <% if (data.RLVDImagePath) { %>
                  <h5>RLVD</h5>
                  <p class="product-img--main text-center w-100" data-scale="1.6"
                    data-image="<%= data.RLVDImagePath %>"><img src="<%= data.RLVDImagePath %>" width="100%"></p>
                  <% } %>
              </div>

            </div>



          </div>

          <!-- </div>-->
        </div>
      </div>

      <div id="activity">
        Hello

      </div>
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4101"
        style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
          <strong class="mr-auto">Success</strong>
          <button type="submit" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          Data for Chalan generated Sucessfully
        </div>
      </div>

      <%- include('components/scripts'); -%>


        <!-- <script>
          const button1 = document.querySelector('#gc');
          const toast = $('.toast');
          button1.addEventListener("click", () => {
            event.preventDefault();
            toast.toast('show');
          })
        </script> -->
      


<!-- <script></script> -->
  </body>


  <script>

    // ///////////////////////////////////////
    $('.product-img--main')
      // tile mouse actions
      .on('mouseover', function () {
        $(this).children('.product-img--main__image').css({ 'transform': 'scale(' + $(this).attr('data-scale') + ')' });
      })
      .on('mouseout', function () {
        $(this).children('.product-img--main__image').css({ 'transform': 'scale(1)' });
      })
      .on('mousemove', function (e) {
        $(this).children('.product-img--main__image').css({ 'transform-origin': ((e.pageX - $(this).offset().left) / $(this).width()) * 100 + '% ' + ((e.pageY - $(this).offset().top) / $(this).height()) * 100 + '%' });
      })
      // tiles set up
      .each(function () {
        $(this)
          // add a image container
          .append('<div class="product-img--main__image"></div>')
          // set up a background image for each tile based on data-image attribute
          .children('.product-img--main__image').css({ 'background-image': 'url(' + $(this).attr('data-image') + ')' });
      });
    // //////////////////////////////////////////////
    const toast = $('.toast');
    loggedIN = localStorage.getItem('ISLOGGEDIN')
    if (loggedIN != 'true') {
      window.location.href = '/login';

    }
    const apiForm = document.getElementById("api-form");
          const apiResponseTable = document.getElementById("api-response");

          apiForm.addEventListener("submit", (event) => {
            event.preventDefault();


          
            const url = `/generate/challan/"+data._id+"`
            fetch(url)
              .then(response => response.json())
              .then(data => {
                console.log(data);
                if(data){
                  console.log("data is not available");
                  alert("challan generate successfully");
                }
                // alert("challan generate successfully");
                
              
                });
              })
        .catch(error => console.error(error));
    // });



  </script>


  </html>