<!DOCTYPE html>
<html>

<head>
	<title>intelligent traffic management system (itms)</title>
	<h2></h2>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}

		.container {
			max-width: 800px;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid #ccc;
		}

		h1 {
			text-align: center;
		}

		h2 {
			text-align: center;
		}

		table {
			width: 100%;
			border-collapse: collapse;
			margin-top: 20px;
		}

		td,
		th {
			padding: 10px;
			text-align: left;
			border: 1px solid #ccc;
		}

		thead {
			background-color: #f2f2f2;
		}

		.amount {
			text-align: right;
		}

		.signature {

			text-align: left;
		}

	

		.signature img {
			width: 100%;
		}

		.note {
			margin-top: 20px;
			font-size: 12px;
			text-align: center;
			color: #999;
		}

		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 20%;
		}
	</style>
</head>

<body>
	<div class="container">
		<h1>intelligent traffic management system (itms)</h1>
		<img src="/images/mp-logo.png" width="50" height="100" alt="Paris" class="center">

		<h2>नोटिस</h2>
		<p1>सर/मैडम,</p1>
		<!-- <p> <b>Camera Name</b> : <%= data.ChallanNo %> -->
		</p>
		<br> Intelligent Traffic Management System द्वारा पहचान की है कि आप / आपके ड्राइवर द्वारा वाहन नंबर MP37MV6863
		को चलाते हुए, निम्न स्थान / दिनांक / समय पर यातायात के नियमों का उल्लंघन किया गया है। जो निम्न प्रकार से मोटर
		यान अधिनियम 1988 के अन्तर्गत दंडनीय अपराध है ।</br>
		<table>
			<thead>
				<tr>
					<th>challan number</th>
					<th>Vehicle number</th>
					<th>Date & Time of
						Detection</th>
					<th>Date & Time of
						Generation</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<%= data.ChallanNo %>
					</td>
					<td>
						<%= data.LPNumber %>
					</td>
					<td>
						<%= data.timestamp %>
					</td>
					<td>
						<%= data.timestamp %>
					</td>
					<td>
						<%= data.Location %>
					</td>
					<!-- <td>MP37MV6863</td> -->


				</tr>
			</tbody>
		</table>
		<div class="signature">
			<img src="/images/nohelmet.png" alt="Signature">
		</div>
		<h3>नियमो का उल्लंघन :-</h3>
		<p>&#x2611; 1. No-Helmetधारा&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;129/194
			(D)&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;शमन शुल्क 300.0 रूपये</p>
		<br>

		<p>इस हेतु आप शमन शुल्क 300 रुपय एम.पी आनलाइन के माध्यम से एम.पी आनलाइन पोर्टल
			(https://www.mponline.gov.in/portal/Services/eChallan/Home.aspx) में चालान देखने के लिए एवम चालान जमा करने
			के लिए एम.पी आनलाइन रजिस्टर KIOSK में 15 दिवस के अंदर शमन शुल्क जमा करें एवं रसीद प्राप्त करें अन्यथा आपके
			विरुद्ध अग्रिम वैधानिक / कानूनी कार्यवाही की जाएगी ।</p>
		<div class="text">

			<div style="width:400px;height:150px;border:1px solid #001;">
				<p>&emsp;प्रति,<br> &emsp;&emsp;&emsp;&emsp;<%= data.CustomerName %> <br><br>&emsp;<%= data.Location %>
							<br><br>&emsp;मो : 9131777996</p>
			</div>


			<p>Note: This is a computer-generated challan and does not require a physical signature.</p>
		</div>
	</div>

	<script>
		const toast = $('.toast');
		loggedIN = localStorage.getItem('ISLOGGEDIN')
		if (loggedIN != 'true') {
			window.location.href = '/login';

		}
	</script>
	<%- include('components/scripts'); -%>
</body>

</html>